#_layout,
#_nuxt {
  height: 100%;
}

@include media-breakpoint-up(xxl) {
  h1 {
    color: red;
  }
}

.relative {
  position: relative;
  z-index: 999;
}

.cursor-pointer {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
  background-color: gray;
  z-index: 3;
  opacity: 0.7;
}
.login-form.signin-form {
  z-index: 5;
}

.login-form {
  position: absolute;
  z-index: 99;
  width: 452px;
  height: 687px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 30px;
  margin: 40px auto;
  .image-login {
    position: absolute;
    z-index: 99;
    width: 452px;
    height: 687px;
    border-radius: 30px;
    img {
      border-radius: 30px;
    }
  }
  .center-top {
    margin-top: 40px;
    z-index: 999;
  }
  .title-login {
    position: relative;
    margin-top: 20px;
    z-index: 999;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .group-text {
    position: relative;
    z-index: 999;
    margin-top: 46px;
    text-align: center;
    .item-input {
      margin: 0 auto;
      width: 372px;
      height: 47px;
      padding: 10px 30px;
      border: 1px solid #f1f1f1;
      box-sizing: border-box;
      border-radius: 30px;
      margin-top: 20px;
      outline: none;
      background: none;
      color: #b0b0b0;
      display: flex;
      align-items: center;
      .item-text-input {
        padding: 10px 20px;
        outline: none;
        background: none;
        color: #b0b0b0;
        border: none;
        font-size: 20px;
        line-height: 27px;
      }
      .icon-eye-slash {
        width: 20px;
        height: 16px;
      }
    }
    .forgot-container {
      margin-top: 10px;
      text-align: right;
      margin-right: 40px;
      .forgot-password {
        font-size: 15px;
        line-height: 20px;
        text-align: right;
        color: #b0b0b0;
        margin-top: 20px;
        position: relative;
        cursor: pointer;
      }
    }
  }
}

.button-login {
  background: #d3e8d5;
  border-radius: 30px;
  position: relative;
  z-index: 999;
  padding: 10px;
  width: 372px;
  height: 47px;
  margin: 0 auto;
  text-align: center;
  margin-top: 46px;
  color: #65a06b;
  a {
    color: #65a06b;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
  }
}

.title-login-link {
  position: relative;
  z-index: 999;
  margin-top: 20px;
  color: #b0b0b0;
  justify-content: center;
  align-items: center;
  .sign-text {
    color: #e5625c;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
}

.title-login-more {
  text-align: center;
  margin-top: 40px;
  a {
    color: #b0b0b0;
    text-decoration-line: underline;
    font-size: 15px;
    line-height: 20px;
  }
}

.login-more {
  justify-content: center;
  margin-top: 20px;
  .item-login {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
  }
  .item-login:not(:last-child) {
    margin-right: 30px;
  }
  .lg-fb {
    background: #295396;
  }
  .lg-gg {
    background: #000000;
  }
  .lg-apple {
    background: #ffffff;
  }
}

.signin-form {
  width: 484px;
  height: 704px;
  .erro-message {
    color: #e5625c;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 55px;
    font-size: 15px;
    line-height: 20px;
  }
  .btn-signin {
    margin-top: 20px;
    background: #f8d7d5;
    a {
      color: #e5625c;
    }
  }
  .login-text {
    color: #65a06b;
  }
}

