// @media (min-width: 768px) {
//   div.product .summary {
//     width       : 48.3870967742%;
//     float       : right;
//     margin-right: 0;
//   }
// }

.content {
  display        : flex;
  justify-content: center;

  .organey-icon-facebook:before {
    content: "\e03c";
  }

  .product-detail {
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

    p {
      line-height  : 24px;
    }

    li {
      margin-bottom: 12px;
    }
  }

  .product_meta {
    span {
      margin-bottom: 12px;
    }
  }

  .woocommerce-product-rating {
    div {
      margin-bottom: 18px;
    }
  }

  .nav-tabs {
    margin: 0;

    .nav-item {
      width: calc(100% / 3);

      a {
        border-radius: 0 !important;
        padding      : 18px;

      }
    }
  }

  .price {
    margin-top: 18px;
  }

  .woocommerce-product-details__short-description {
    border-top   : 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding      : 18px;
    margin       : 18px 0px;

    li {
      list-style: circle;
    }
  }

  .card-header {
    li {
      margin-bottom: 0px;
    }
  }

  .tab-content {
    ul {
      padding-right: 12px;
    }

    li {
      margin-bottom: 12px;
      line-height  : 24px;
    }
  }

  #reviews #comments {
    padding-top   : 0;
    padding-bottom: 0;
  }

  #comments {
    position   : relative;
    padding-top: 30px;
  }

  .panel h2:first-of-type {
    display: none;
  }

  .review-top {
    display       : flex;
    flex-wrap     : wrap;
    padding-top   : 20px;
  }

  .woocommerce-product-rating {
    margin-bottom: 15px;
    margin-top   : -15px;
    font-size    : 12px;
    line-height  : 27px;
  }

  .review-top .woocommerce-product-rating {
    display        : flex;
    flex-direction : column;
    flex-wrap      : wrap;
    text-align     : center;
    justify-content: center;
    align-items    : center;
  }

  .review-top>div:not(:last-child) {
    border-right      : 1px solid;
    border-right-color: #e4e4e4;
  }

  .review-top>div {
    width: 33.33%;
  }

  .reviews-summary {
    display        : flex;
    flex-direction : column-reverse;
    justify-content: center;
    align-items    : center;
  }


  .review-top>div {
    width: 33.33%;
  }

  .review-button-wrap {
    display        : flex;
    align-items    : center;
    justify-content: center;
  }

  .review-link {
    padding: 14px 20px;
    border: 1px solid;
    color: #5c9963;
    font-size: 14px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .reviews-summary .review-summery-item {
    display      : flex;
    align-items  : center;
    margin-bottom: 10px;
  }

  .reviews-summary .star-rating {
    margin-right: 15px;
  }

  .star-rating {
    overflow   : hidden;
    position   : relative;
    height     : 1.618em;
    line-height: 1.618;
    font-size  : 12px;
    width      : 6.3em;
    font-family: star;
    font-weight: 400;
  }

  .reviews-summary .progress {
    width       : 140px;
    height      : 20px;
    border      : 1px solid;
    border-color: var(--border);
    position    : relative;
    display     : inline-block;
  }

  .reviews-summary .progress-text {
    margin-left: 15px;
    color: #5c9963;
    min-width: 36px;
    font-weight: 700;
    font-size: 15px;
  }

  #reviews .commentlist {
    list-style: none;
    margin    : 0;
  }

  #reviews .commentlist li {

    list-style   : none;
    clear        : both;
  }

  #reviews .commentlist li .comment_container {
    border-radius: 3px;
  }

  #reviews .commentlist li .avatar {
    width        : 50px;
    height       : 50px;
    float        : left;
    margin-right : 10px;
    border-radius: 50%;
    object-fit   : cover;
  }

  #reviews .commentlist li .comment_container .comment-text {
    width: calc(100% - 60px);
    float: right;
  }

  #reviews .commentlist li .comment_container .comment-text .star-rating {
    font-size    : .875em;
    line-height  : 1;
    height       : 1em;
    margin-bottom: 5px;
  }

  .star-rating {
    overflow   : hidden;
    position   : relative;
    height     : 1.618em;
    line-height: 1.618;
    font-size  : 12px;
    width      : 6.3em;
    font-family: star;
    font-weight: 400;

  }

  .progress {
    border: 0 !important;
  }

  .reviews-summary .progress .progress-bar {
    position        : absolute;
    left            : 0;
    height          : 100%;
    bottom          : 0;
    background-color: #5C9963;
    display         : block;
  }

  .star-rating::before {
    font-family: star !important;
    opacity    : .25;
    float      : left;
    top        : 0;
    left       : 0;
    position   : absolute;
  }

  #reviews .commentlist li p.meta strong {
    font-size: 16px;
    color    : var(--accent);
  }

  .star-rating span {
    overflow   : hidden;
    float      : left;
    top        : 0;
    left       : 0;
    position   : absolute;
    padding-top: 1.5em;
  }

  #reviews #respond {
    margin-top   : 2.2906835em;
    padding      : 40px;
    background   : #f5f5f5;
    border-radius: 12px;
    margin-bottom: 15px;
  }

  #respond {
    position: relative;
  }

  #respond #reply-title {
    color         : var(--accent);
    font-size     : 18px;
    margin-bottom : 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight   : 600;
  }

  #reviews .comment-reply-title {
    display: none;
  }

  #commentform {
    display  : flex;
    flex-wrap: wrap;
    margin   : 0 -15px;
  }

  #reviews .comment-form-comment,
  #reviews .comment-form-author,
  #reviews .comment-form-email,
  #reviews .comment-form-cookies-consent,
  #reviews .comment-notes {
    margin-bottom: 1.41575em;
  }

  #commentform>p,
  #commentform .comment-form-rating {
    padding       : 0 15px;
    width         : 100%;
    display       : flex;
    flex-direction: column;
  }

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel],
  input[type=url],
  input[type=password],
  input[type=search],
  textarea,
  .input-text {
    padding           : calc(0.734em - 2px) 1em;
    background-color  : #FFFFFF;
    color             : var(--text);
    border-width      : 1px;
    border-style      : solid;
    border-color      : var(--border);
    -webkit-appearance: none;
    box-sizing        : border-box;
    font-weight       : 400;
    border-radius     : 6px;
    outline           : 0;
    transition        : all ease-in-out .3s;
  }


}

.wrap-info {
  width        : 100%;
  margin-bottom: 50px;
  display      : flex;

  .product-slide {
    width       : calc(50% - 36px);
    margin-right: 36px;

    .carousel-inner {
      border-radius: 12px;
      position     : relative;
      width        : 100%;
      overflow     : hidden;
      border       : 1px solid #F1F1F1;
    }

    .flex-control-thumbs {
      margin    : 0;
      padding   : 0;
      position  : relative;
      display   : flex;
      margin-top: 12px;

      li {
        list-style  : none;
        cursor      : pointer;
        display     : block !important;
        position    : relative;
        margin-right: 12px;
      }

      img {
        max-width    : 90px;
        width        : 90px;
        border-radius: 6px;
      }
    }
  }

  #reviews .comment-form-rating {
    clear        : both;
    margin-bottom: 1em;
  }

  #commentform>p,
  #commentform .comment-form-rating {
    padding: 0 15px;
    width  : 100%;
  }

  #reviews .comment-form-comment,
  #reviews .comment-form-author,
  #reviews .comment-form-email,
  #reviews .comment-form-cookies-consent,
  #reviews .comment-notes {
    margin-bottom: 1.41575em;
  }

  #commentform>p,
  #commentform .comment-form-rating {
    padding: 0 15px;
    width  : 100%;
  }

  .single-product #reviews .comment-form-author,
  .single-product #reviews .comment-form-email {
    flex     : 50%;
    max-width: 50%;
  }

  #reviews .comment-form-comment,
  #reviews .comment-form-author,
  #reviews .comment-form-email,
  #reviews .comment-form-cookies-consent,
  #reviews .comment-notes {
    margin-bottom: 1.41575em;
  }

  #respond .comment-form-author,
  #respond .comment-form-email,
  #respond .comment-form-url {
    flex     : 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  #respond .comment-form-author,
  #respond .comment-form-email,
  #respond .comment-form-url {
    flex     : 0 0 100%;
    max-width: 100%;
  }

  #commentform>p,
  #commentform .comment-form-rating {
    padding: 0 15px;
    width  : 100%;
  }


  #reviews .comment-form-email {
    margin-right: 0;
  }

  #reviews .comment-form-comment,
  #reviews .comment-form-author,
  #reviews .comment-form-email,
  #reviews .comment-form-cookies-consent,
  #reviews .comment-notes {
    margin-bottom: 1.41575em;
  }

  #respond .comment-form-author,
  #respond .comment-form-email,
  #respond .comment-form-url {
    flex     : 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  #respond .comment-form-author,
  #respond .comment-form-email,
  #respond .comment-form-url {
    flex     : 0 0 100%;
    max-width: 100%;
  }

  #commentform>p,
  #commentform .comment-form-rating {
    padding: 0 15px;
    width  : 100%;
  }

  #reviews .comment-form-comment,
  #reviews .comment-form-author,
  #reviews .comment-form-email,
  #reviews .comment-form-cookies-consent,
  #reviews .comment-notes {
    margin-bottom: 1.41575em;
  }

  #commentform>p,
  #commentform .comment-form-rating {
    padding: 0 15px;
    width  : 100%;
  }

  .single-product .woocommerce-tabs .comment-form-cookies-consent {
    display: inline-block;
  }

  #respond .form-submit,
  #respond form {
    margin-bottom: 0;
  }

  #commentform>p,
  #commentform .comment-form-rating {
    padding       : 0 15px;
    width         : 100%;
    display       : flex;
    flex-direction: column;
  }

  .comment-form-comment label,
  .comment-form-author label,
  .comment-form-email label,
  .comment-form-url label {
    font-size: 12px;

    line-height: 2;
  }

  #review_form {
    margin-top: 24px;
  }

  label {
    font-weight: 600;
  }

  textarea {
    overflow      : auto;
    vertical-align: top;
    width         : 100%;
    margin-top    : 12px !important;
  }

  #respond .comment-form-author input,
  #respond .comment-form-email input,
  #respond .comment-form-url input {
    width: 100%;
  }
}

.summary {
  width          : 48.3870967742%;
  // float       : right;
  margin-right   : 0;

  .product_title {
    font-size    : 32px;
    line-height  : 1.45;
    margin-top   : 10px;
    margin-bottom: 20px;
    clear        : none;
    color        : #3D3D3D;
    font-weight  : 800;
  }

  p.price del {
    font-size: 16px;
    color    : #BCBCBC;
  }

  .price ins {
    color      : #5C9963;
    font-size  : 32px;
    font-weight: 900;
  }

  .single_add_to_cart_button {
    width           : 160px;
    padding         : 0 25px;
    line-height     : 38px;
    height          : 44px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    white-space     : nowrap;
    background-color: #5C9963;
    color           : #fff;
    font-weight     : 500;
    font-size       : 14px;
    border-radius   : 24px;
    border          : 0;
  }

  .quantity {
    display        : flex;
    align-items    : center;
    justify-content: center;
    border         : 1px solid;
    border-color: #e4e4e4;
    width          : 90px;
    min-height     : 44px;
    border-radius  : 4px;
    margin-right   : 20px;

    button {
      width           : 30px;
      padding         : 0;
      text-align      : center;
      display         : block;
      background-color: transparent;
      color           : #3D3D3D;
      border          : 0;
    }

    .qty {
      text-align   : center;
      padding      : 0;
      border-radius: 0;
      text-align   : center;
      font-weight  : 600;
      width        : 30px;
      color        : #3D3D3D;
      border       : none;
    }

    .screen-reader-text {
      border           : 0;
      clip             : rect(1 px, 1 px, 1 px, 1 px);
      -webkit-clip-path: inset(50%);
      clip-path        : inset(50%);
      height           : 1px;
      margin           : -1px;
      overflow         : hidden;
      padding          : 0;
      position         : absolute;
      width            : 1px;
      word-wrap        : normal !important;
    }

    .woocommerce-product-details__short-description {
      margin-bottom : 30px;
      padding-bottom: 20px;
      border-bottom : 1px solid #3D3D3D;
    }
  }

  form.cart {
    margin-bottom: 0;
    display      : flex;
    flex-wrap    : wrap;
    align-items  : center;
  }

  .woosw-btn {
    border          : 0;
    margin-top      : 20px;
    font-size       : 13px;
    font-weight     : 600;
    color           : #3D3D3D;
    background-color: transparent;
    padding         : 0;
    margin-right    : 30px;
  }

  .organey-single-product-extra {
    margin-top    : 20px;
    padding-top   : 20px;
    padding-bottom: 10px;
    background    : #f5f5f5;
    padding-left  : 20px;
    padding-right : 20px;
  }

  .product_meta {
    margin-top  : 20px;
    font-size   : 14px;
    line-height : 27px;
    color       : #3D3D3D;
    padding-top : 20px;
    position    : relative;
    border-top  : 1px solid;
    border-color: #3D3D3D;

    >span {
      display: block;

      .sku {
        font-weight: 600;
      }

      a {
        font-weight    : 600;
        color          : #5C9963;
        text-decoration: none;
      }
    }
  }
}

.woocommerce-Tabs-panel--description {
  margin-left : auto;
  margin-right: auto;
  font-size   : 15px;
  line-height : 1.8;

  padding: 24px;

  .elementor-widget-container {
    margin : 30px 0 -10px 0;
    display: block;
  }

  .elementor-widget-container-title {
    color      : #5C9963;
    font-family: "Organey-heading", Sans-serif;
    font-size  : 20px;
    font-weight: 700;
    line-height: 20px;
  }

  .elementor-container.elementor-column-gap-no {
    -ms-flex-wrap: wrap;
    flex-wrap    : wrap;
    display      : flex;

    >div {
      width: 50%;
    }
  }

  table {
    border-spacing : 0;
    width          : 100%;
    border-collapse: collapse;

    p {
      margin: 0;
    }
  }

  table.shop_attributes tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
  }

  table td,
  table th {
    padding       : 1em 1.41575em;
    text-align    : left;
    vertical-align: top;
    word-break    : break-all;
    border        : 1px solid #F1F1F1;
  }
}

.info-tab {
  border: 1px solid #F1F1F1;

  .nav-item {
    width: calc(100%/3);

    button {
      width           : 100%;
      height          : 60px;
      background-color: #f5f5f5;
      color           : #3D3D3D;
      font-size       : 15;
      font-weight     : 800;
      border-radius   : 0;
    }

    .active {
      background-color: #5C9963;
      color           : #FFFFFF;

    }
  }
}