$primary-color: #5C9963;
$primary-hover: #528959;
$secondary-color: #3d6642;
$secondary-hover: #7bf889;
$text-color: #656766;
$border-color: #E4E4E4;

$border-lg: 8px;
$border-xl: 12px;
$border-2xl: 16px;

$text-sm: .875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;

$primary: #578C00;
$secondary: #333;

